/* General Styles */
body {
    margin: 0;
    background-color: #f4d9d0;
    font-family: 'Times New Roman', Times, serif;

}

/* Nav Styles */
nav {
    background-color: #921a40;
    color: #ffdab3;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: #ffdab3;

}

nav p, nav a {
    color: #ffdab3;
    text-decoration: none;
    font-weight: bold;
}

nav a {
    text-decoration: underline;
    color: #ffdab3;
}

nav a:hover {
    color: #CC2B52;
}

/* Footer Styles */
footer {
    display: flex;
    justify-content: center;
    background-color:  #921a40;
    padding: 10px;
    color:#f4d9d0;
    text-align: center;
    
}

footer a {
    text-decoration: none;
    color: #ffdab3;
    margin: 0 5px
}

footer a:hover {
    color: #CC2B52;
}

/* Splash Section */
.splash {
    display: flex;
    flex-direction: column;
    background-color: #d9abab;
    align-items: center;
    padding: 50px 0;
}

.splash h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: #921a40;
    justify-content: center;
    text-align: center;
    
}

.splash p{
    font-size: 1.2em;
    color: #CC2B52;
}

.splash img {
    border-radius: 100%;
    border: 5px solid #f4d9d0;

}

.splash p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    color: #872341;
    text-align: center;
}

/* Horizontal Rules */
hr {
    border-top: 2px solid #921a40; 
    border-radius: 2px; 
    width: 100%;
}

/* Sections */
section {
    font-family: 'Times New Roman', Times, serif;
    color: #921a40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Section Headings */
section h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: #c75b7a
}

/* Paragraph Styles */
section p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: #921a40;
    font-size: 1.5em;
    text-align: center;
}

/* link styles */
section a {
    text-decoration: none;
    color: #921a40;
}
section a:hover {
    text-decoration: underline;
    color:#c75b7a;
}

/* List Styles */
ul {
    font-family: 'Times New Roman';
    font-size: 1.5em;
    color: #921a40;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    text-align: center;
}

ul li{
    padding: 2em;
    margin: 2em;
    border: 5px solid #921a40;
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

dl dt{
}

dl div{
    display: flex;
    flex-direction: column;
    align-items: center;

}


dt{
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #872341;
    font-size: 1.4rem;
    text-align: center;
    justify-content: center;
}

dl dd{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    font-size: 1.3rem;
    color: #c75b7a;
    margin-bottom: 10px;
}

/* Project */
.three-col {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 equal columns */
    gap: 30px;
    padding: 20px;
    margin: auto;
}

.card {

    background-color:#921a40 ;
    border-radius: 12px;
    padding: 20px;
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    padding: 1.5em; 
    height: 500px;
    align-items: center;
}

.card img {
    
}

.card ul{
    display: flex;
    flex-direction: column;
    width: 80%;
    color: #f4d9d0;
}

.card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #f4d9d0;
}

/* Contact Page Styles */
.one-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

form {
    display: grid;
    width: 100%;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 0.5em;
}

form input:focus, form textarea:focus {
    outline: none;
    border-color: #921a40;
    
}

form button {
    background-color: #921a40;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #f4d9d0;
}
